{% extends '/entry.html' %}

{% block pagetitle %}
<header>
<h1><a href="{{category.link}}">Publ: {{category.name }}</a></h1>
</header>
{% endblock %}

{% block sidebar %}
<div id="nav" class="sidebar">
    <h2>Navigation</h2>
    <ul>
        <li class="cat-back"><a href="{{category.link}}">Back to {{category.name or "main site"}}</a></li>
        {% if entry.previous %}
        <li class="entry-prev"><a href="{{entry.previous.link}}">Previous entry: {{entry.previous.title}}</a></li>
        {% endif %} {% if entry.next %}
        <li class="entry-next"><a href="{{entry.next.link}}">Next entry: {{entry.next.title}}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}


{% block entry %}
<h2 class="p-name"><a class="u-url" href="{{entry.permalink}}">{{entry.title}}</a></h2>
<div class="posted">Posted <time class="dt-published" datetime="{{entry.date.isoformat()}}">{{entry.date.format('dddd, MMMM D')}} at {{entry.date.format('h:mm A Z')}}</time> ({{entry.date.humanize()}})
    {% if entry.author %}by {{entry.author}}{% endif %}
    {% if entry.last_modified > entry.date and entry.last_modified.humanize() != entry.date.humanize() %}
        <div class="update">Last updated {{entry.last_modified.humanize()}}</div>
    {% endif %}
    {% if entry.tags %}
    <ul class="tags">
        {% for tag in entry.tags %}
        <li><a href="{{entry.archive(tag=tag)}}">{{tag}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% if entry.summary %}
<div class="hidden p-summary">{{ entry.summary }}</div>
{% endif %}

<div class="e-content">
{% if entry.body %}
<div class="preamble">
    {{entry.body(gallery_id=entry.uuid,div_class='images')}}
</div>
{% endif %}

{% if entry.more %}
<div class="more" id="more">
    {{entry.more(gallery_id=entry.uuid,div_class='images')}}
</div>
{% endif %}
</div>

{% endblock %}
