{% extends '/index.html' %}

{% block entry %}
    <h1 class="p-name"><a class="u-url" href="{{entry.link}}">{{entry.title}}</a></h1>
    <div class="posted">Posted {{entry.date.format('dddd, MMMM D')}} at {{entry.date.format('h:mm A')}} ({{entry.date.humanize()}})
        {% if entry.author %}by {{entry.author}}{% endif %}
        {% if entry.tags %}
        <ul class="tags">
            {% for tag in entry.tags %}
            <li><a href="{{view(tag=tag).link}}">{{tag}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    {{entry.body(count=1,link=entry.link)}}

    {% if entry.more %}
    <div class="keep-reading"><a href="{{entry.link}}">Keep reading...</a></div>
    {% endif %}
{% endblock %}