<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Publ: {{ entry.title(markup=False) }}</title>
    <link rel="stylesheet" href="{{static('lightbox/css/lightbox.min.css')}}">
    <link rel="stylesheet" href="{{entry.stylesheet or 'style.css'}}">


    {{ entry.card(width=480,height=360,count=4,resize="fill") }}
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@fluffy">

    <link rel="webmention" href="https://webmention.io/beesbuzz.biz/webmention" />
    <script src="{{static('webmention.js')}}"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

</head>

<body id="{{template.name}}">
    {% block pagetitle %}
    <header>
    <h1><a href="{{category.link}}">Publ:</a> {{ entry.title }}</h1>
    </header>
    {% endblock %}

    {% block sidebar %}
    <div id="nav" class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li class="cat-back"><a href="{{category.link}}">Back to {{category.name or "main site"}}</a></li>
        </ul>
    </div>
    {% endblock %}

    <div id="content">
        <div class="entries">
            <article class="h-entry">
            <a href="https://fed.brid.gy/"></a>

            {#- support the common webmention ping types by setting appropriate entry headers, like:

                Like-Of: http://example.com/foo
                Repost-Of: http://example.com/bar

            -#}
            {%- for type in (
                'like-of',
                'in-reply-to',
                'repost-of',
                'bookmark-of',
                'mention-of',
                'syndication') -%}
                {%- for link in entry.get_all(type) -%}
                    <a href="{{link}}" class="hidden u-{{type}}"></a>
                {%- endfor -%}
            {%- endfor -%}

            {#- support RSVP webmentions with a header like:

                RSVP: http://example.com/ yes

            -#}
            {%- for rsvp in entry.get_all('rsvp') -%}
                {%- with url,value = rsvp.split() -%}
                    <a class="hidden u-in-reply-to" href="{{url}}"><data class="p-rsvp" value="{{value}}"></data></a>
                {%- endwith -%}
            {%- endfor -%}

            {#- support other mention types with a header like:

                Ping: http://example.com/ u-category

                Unfortunately 'Category:' means something else in Publ so it can't
                be made a standard ping type.
            -#}
            {%- for ping in entry.get_all('ping') -%}
                {%- with link, class = ping.split() -%}
                    <a href="{{link}}" class="hidden {{class}}"></a>
                {%- endwith -%}
            {%- endfor -%}

            {% block entry %}
            <div class="posted">Last updated: <time class="dt-posted" datetime="{{entry.date.isoformat()}}">{{entry.last_modified.format('YYYY-MM-DD h:mm A')}} ({{entry.last_modified.humanize()}})</time>
            </div>
            {% if entry.summary %}
            <div class="hidden p-summary">
            {{entry.summary}}
            </div>
            {% endif %}

            {% if entry.more %}
            <div class="entry e-content">
                {{entry.more}}
            </div>
            {% else %} Oops, this page has no content... {% endif %}
            {% endblock %}
            </article>

            <section id="webmentions"></section>
        </div>
    </div>
    </div>
    </div>

<script src="{{ static('lightbox/js/lightbox-plus-jquery.min.js') }}"></script>
</body>

</html>
