<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Publ {{category.path or ''}}</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{view.current.link(template='feed')}}" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body id="{{template.name}}">

<header>
<h1>Publ: {{category.name and category.name.title() or "Yet another site generator"}}</h1>
{% if view.tags %}
<div class="description">Entries tagged {{[view.tags[:-1]|join(', '),view.tags[-1]]|select|join(' or ')}}</div>
{% elif category.description %}
<div class="description">{{category.description}}</div>
{% endif %}
</header>

<div id="nav" class="sidebar">

    {% if user %}
    <h2>User</h2>
    <ul><li>Signed in as <code><a href="{{user.name}}">{{user.name}}</a></code></li>
        {% if user.is_admin %}
        <li><a href="{{url_for('admin')}}">Auth log</a></li>
        {% endif %}
        <li><a href="{{logout}}">Log out</a></li>
    </ul>
    {% else %}
    <h2>Log in</h2>
    <ul><li><a href="{{login}}">Log in</a></li></ul>
    {% endif %}

    <h2>Navigation</h2>

    {% block navigation %}
    <ul>
    {% if category.parent %}
    <li class="cat-up"><a href="{{category.parent.link}}">{{category.parent.name or "Main page"}}</a></li>
    {% endif %}

    {% for subcat in category.subcats %}
    {% if not subcat.hidden %}
    <li class="cat-down"><a href="{{subcat.link}}">{{subcat.name}}</a></li>
    {% endif %}
    {% endfor %}

    {% for entry in view.current(entry_type='sidebar',tag=None).entries %}
    <li class="{{entry.get('Redirect-To') and 'extlink' or 'sblink'}}"><a href="{{entry.link}}">{{entry.title}}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}

{% if category.tags or 'tag' in view.spec %}
    <h2>Tags</h2>

    <ul class="tag-list">
    {% if view.tags %}
    <li class="tag-clear"><a href="{{view(tag=None).link}}">Clear tags</a></li>
    {% endif %}

    {% for name,count in category.tags|sort(attribute='count',reverse=True) %}
    <li class="{{name in view.tags and 'tag-selected' or ''}}"><a href="{{view.tag_toggle(name)}}">{{name}}</a> ({{count}})</a></li>
    {% endfor %}
    </ul>
{% endif %}

</div>


{% block content %}
<div id="content">
    {% set content = view(entry_type_not='sidebar',count=20) %}

    <div class="nav">
        {% if content.previous %}
        <a href="{{content.previous.link}}" class="previous">Previous page</a>
        {% endif %}

        {% if content.next %}
        <a href="{{content.next.link}}" class="next">Next page</a>
        {% endif %}
    </div>

    <div class="entries">

        {% for entry in content.entries %}

        <article class="h-entry entry">
        {% block entry scoped %}
        <h2 class="p-name">
            {%- if entry.more or entry['redirect-to'] %}<a class="u-url" href="{{entry.link}}">{{entry.title}}</a>
            {%- else -%}
            {{entry.title}}
            {%- endif -%}
        </h2>

        <section class="p-summary">
        {{entry.body(width=320,height=320)}}
        </section>
        {% endblock %}

        </article>
        {% endfor %}

    </div>

    <div class="nav">
        {% if content.previous %}
        <a href="{{content.previous.link}}" class="previous">Previous page</a>
        {% endif %}

        {% if content.next %}
        <a href="{{content.next.link}}" class="next">Next page</a>
        {% endif %}
    </div>

</div>
{% endblock %}

</body></html>
