@import url('../style.css');

body {
    background-image: url('{{image("/tests/rawr.jpg")(1,width=200)}}');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
}
